@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <div class="card">
                <article class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <form id="account" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="checkbox mb-3">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->
                        <p class="text-center"><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                    </form>
                </article>
            </div> <!-- card.// -->
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
